*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #F2F2F2;
}

#first_layout {
	width: 100%;
	display: flex;
	flex-direction: column;
}

canvas {
	position: absolute;
	background: linear-gradient(#171140, 64%, #010326);
	width: 100%;
	height: 100%;
	z-index: -1;
}

#main_header_container {
	height: 80px;
}

#main_contents_layout {
	width: 100%;
}

header {
	display: flex;
	max-width: 1380px;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.non_fixed_header {
	position: relative;
	background-color: transparent;
}

.fixed_header {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
}

header > h2 {
	margin-left : 20px;
}

header > ul {
	display: flex;
	list-style: none;
	margin-right: 10px;
}

header > ul > li {
	margin: 0 10px;
}

a {
	text-decoration: none;
	outline: none;
}

li {
	padding: 5px 2px;
}

#main_text_layout {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#main_text_layout > h1 {
	font-size: 68px;
	margin-bottom: 10px 0;
}

#main_text_layout > p {
	font-size: 16px;
}



.page_layout {
	padding: 50px 0;
	text-align: center;
}

.layout1 {
	background-color: #171140;
	color: #F25C05;
}

.todo_list {
	width: 300px;
	margin: 0 auto;
}

label {
	display: block;
	text-align: left;
	margin: 10px;
}

.layout2 {
	background-color: #010326;
	color:  #F24405;
}

/*
	#171140 #010326 #F25C05 #F24405 #F2F2F2
*/

footer {
	display: flex;
	height: 80px;
	background-color: #010326;
	align-items: center;
	justify-content: center;
}

footer > p {
	text-align: center;
}